/*Im not super comfortable with css, but i tried to have some fun! */
*{
  margin: 1;
  padding: 0;
  box-sizing: border-box;
}
.game_board
{
  position: absolute;
  border: 3px solid red;
  top: 8rem; 
  left: 50%;
  transform: translate(-50%);
  padding: .4rem;
  height: 600px;
  width: 700px;
  background:rgba(247, 247, 16, 0.808);
}

.hole
{
 width: 95px;
 height: 95px;
 background: white;
 border-radius:50%;
 border: 2px solid black;
}
.hole:hover{
    background-color: rgba(138, 143, 145, 0.719);
}

h1
{
  text-align: center;
  color: Blue;
}

